#Index {
  max-width: 800px;
  margin: auto;
  padding: 0 16px;
  margin-top: 48px;

  >header {
    padding: 16px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddddd;
  }

  >main {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
  }

}